header{position:fixed;top:0;left:0;width:100%;min-width:960px;height:60px;background:#5932b3;z-index:500}
header h1{position:absolute;left:50%;padding:20px 10px;margin-left:-480px}
header #btn_category{position:absolute;top:10px;left:50%;margin-left:-318px;display:block;width:40px;height:40px;line-height:40px;border-radius:50%;	text-align:center;color:#fff;font-size:20px;}
header #btn_category:hover,
header #btn_category.on{background:#49209a}
header .toggle_list{display:none;position:absolute;background:#fff;border:1px solid #ccc;box-shadow:0 2px 4px #555;}
header .toggle_list:after, header .toggle_list:before{
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;right:33px;
  pointer-events: none;
}

header .toggle_list:after{
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
header .toggle_list:before{
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 9px;
  margin-left: -9px;
}
header>dl{top:63px;left:50%;margin-left:-480px;width:223px}
header>dl dt{height:48px;line-height:48px;padding-left:15px;border-bottom:1px solid #e4e5e8;font-size:15px;font-weight:600;color:#4b4b4e}
header>dl dd{height:48px;line-height:48px;}
header>dl dd a{display:block;}
header>dl dd b{padding:0 10px 0 15px;color:#666}
header>dl dd span{color:#999}
header>dl dd a:hover{background:#f5f5f8}
header>dl dd a:hover b{color:#5A3296}
header fieldset{position:absolute;top:10px;left:50%;width:470px;padding-right:10px;text-align:right}
header fieldset>p{display:inline-block;width:220px;height:24px;padding:5px 15px;background:#fff;border-radius:20px;vertical-align:2px}
header fieldset>p:before{font-family: "fontello";content:'\e821';display:inline-block;margin-right:8px;color:#b4b5ba;font-size:16px}
header fieldset input.txt{border:none;width:190px;height:24px;line-height:21px;vertical-align:2px;font-size:12px}
header fieldset>a{display:inline-block;width:40px;height:40px;line-height:40px;margin-left:10px;background:#49209a;border-radius:50%;text-align:center;color:#e4e5e8;font-size:20px}
header fieldset>a:hover,
header fieldset>a.on{color:#fff}
header fieldset>a span{color:#e4e5e8;font-size:20px}
header fieldset>a span+i{position:absolute;margin-top:23px;display:inline-block;width:15px;height:15px;line-height:15px;border-radius:50%;background:#ff5a5f;color:#fff;font-style:normal;font-size:12px}
header fieldset dl{top:53px;left:160px;width:268px;text-align:left}
header fieldset dl:after,header fieldset dl:before{right:auto;left:33px}
header fieldset dl dt{height:48px;line-height:48px;border-bottom:1px solid #e4e5e8;font-size:15px;font-weight:600;color:#4b4b4e;text-align:center}
header fieldset dl dd{padding:12px 10px;}
header fieldset dl dd a{display:inline-block;height:26px;line-height:26px;padding:0 11px;margin:5px 4px;border:1px solid #5932b3;border-radius:13px;color:#5932b3}
header fieldset dl dd a.popul{border-color:#6a99a0;color:#6a99a0}
header #user_list{top:53px;right:0;width:168px;}
header #user_list:after,header #user_list:before{right:20px}
header #user_list a{display:block;height:48px;line-height:48px;text-align:center;color:#444}
header #user_list a:hover{background:#f5f5f8}
header a[href^='#notice_']{display:none}
header fieldset.login a[href^='#notice_']{display:inline-block;}
header fieldset.login dl{left:106px}
header #notice_list{top:53px;right:55px;width:320px;text-align:left}
header #notice_list:after,header #notice_list:before{right:20px}
header #notice_list h2{height:48px;line-height:48px;border-bottom:1px solid #e4e5e8;font-size:15px;font-weight:600;color:#4b4b4e;text-align:center}
header #notice_list ul{height:400px;overflow:auto;overflow-x:hidden;}
header #notice_list li{border-top:1px solid #ddd;position:relative;}
header #notice_list li:first-child{border:0}
header #notice_list li a{display:block;padding:15px 10px 15px 55px;font-size:13px;color:#999}
header #notice_list li a>span{position:absolute;top:17px;left:10px;display:block;width:36px;height:36px;line-height:36px;border-radius:50%;overflow:hidden;text-align:center;font-family: "fontello";color:#fff;font-size:20px;font-weight:normal}
header #notice_list li a>span>img{width:100%}
header #notice_list li b{display:block;padding-bottom:5px;font-size:12px;color:#666}
header #notice_list li b strong{color:#5932b3}
header #notice_list li time{display:block;padding-top:5px;color:#b3a2db;font-weight:normal;font-size:12px}
header #notice_list li p{font-size:12px}
header #notice_list li.upload span,
header #notice_list li.best span{background:#ff5a5f;}
header #notice_list li.best span::after{content:'\e805'}
header #notice_list li.upload span::after{content:'\e806'}
header #notice_list li.upload p{width:100%;overflow:hidden;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px}
header #notice_list li.upload p time{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
header #notice_list li.upload p img{float:left;width:100px;padding-right:10px;}
header #notice_list li.new{background:#f5f5f5}
header #notice_list li.new a>time::after{content:'â—';margin-left:5px;font-size:8px;color:#ff5a5f;vertical-align:0px}
